
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
   }

.container{
    height: 1200px;
}

.headerNav{
    background-color:white; 
    width: 1160px;
    height: 48px;
    margin-left: 180px;
    box-shadow:  0px 9px #d8d5d5;
}
.headerList{
    background:white;
    margin: 0;
    padding:1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    font-size: 12px
}
.listItem{
    list-style: none;
    margin-right: 2rem;
    
}
.listItem:first-child{
    margin-right: auto;
    margin-left: 2rem;
    font-size: 20px;
}
#signBtn{
    color: skyblue;
    border: solid;
    border-radius: 15px;
    padding: 6px 15px;
    margin: -5px 12px;
    text-decoration: none;
}
#signBtn:hover{
    background-color: rgb(36, 151, 197);
} 

.listItem img{ 
    height: 15px;
    width: 15px;
}

/* side bar */
.side-bar{
    background-color:lavender; 
    width: 175px;
    height: 1200px;
    padding: 2px 0px 2px 72px;
    margin: -59px 123px 1px -66px;
    font-size: 12px;
   
}

.side-bar ul{
    list-style: none;
    padding-left: 0px;
    padding-top: 43PX;
   
}
.side-bar ul li{
    margin-top: 10px;
    
}

.side-bar li img{
    height: 15px;
    width: 15px;
    display: inline-block;
    padding-right: 20px;
}

/* panels */
.panels-container{
    padding: 0px 0px 0px 100px;
    margin: -1140px -13px -23px 165px;
}
.panels{
    background-color:white;
    height: 500px;
    padding: 8px 8px 8px 8px;
    margin: 0px 50px 0px 0px;   
    overflow: scroll;
}

.panels-container pre{
    padding-left: 18px;
}

.greeting-element{
    background-color:white;
    display: inline-block;
    height:150px;
    width: 250px;
    padding: 10px 15px 2px 13px;
    margin: 12px 20px 19px 14px;
    box-shadow:2px 2px 2px 7px whitesmoke;
    font-size: 12px;
}
.greeting-element pre{
    padding-left: 0px;
}
.form-popup { 
   width: 100%;
    height: 100%;
    background-color:rgba(0 ,0 ,0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .formContainer{
    width: 265px;
    height: 160px;
    background-color: white;
    opacity: 1;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
  }
  input{
      width:132%;
      display:block;
      margin: 6px auto;
  }
  .panel-icon{
    height: 15px;
    width: 15px;
    display: inline-block;
    padding-left: 105px;
  }
  .btn{
    margin-right: -71px;
    color: skyblue;
    background: none;
    border: 1px solid skyblue;
    border-radius: 15px;
    padding: 3px 15px;
    text-decoration: none;
  }

  .btn:hover{
    background-color: rgb(36, 151, 197);
} 

.delete-form-popup{
    width: 100%;
    height: 100%;
    background-color:rgba(0 ,0 ,0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.update-form-popup{
    width: 100%;
    height: 100%;
    background-color:rgba(0 ,0 ,0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}