.page-header{
    background-color: whitesmoke;
    font: 50;
    text-align: left;
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
   
}
.icon{
    height: 20px;
    width: 20px;

}
  

